---
---

<section class="overflow-hidden relative">
  
  <div class="py-12 max-w-xl mx-auto px-8 relative">
    <div>
      <h1
        class="text-4xl mt-12 tracking-tight text-base-900 text-balance font-medium"
      >
        Where Proactive Intelligence Meets D2C Operations.
      </h1>
    </div>
    <div
      class="grid grid-cols-1 text-base text-base-600 lg:grid-cols-2 max-w-xl gap-2 group h-full mt-12"
    >
      <p>
        Dreamskrin builds AI systems that don’t just assist, but become integral
        members of your team.
      </p>
      <p>
        From data to decisions, we deliver enterprise-grade intelligence that
        powers growth and resilience for D2C and product brands.
      </p>
    </div>
    <p class="text-sm italic text-base-600 mt-8">
      Empowering your vision with intelligent scale.
      <span class="block text-base-900"
        >⏤ Transforming ambition into measurable success.</span
      >
    </p>
  </div>
</section>
