<section>
  <div class="px-8 py-12 max-w-xl mx-auto">
    <div>
      <h2
        class="text-4xl tracking-tight text-base-900 text-balance font-medium"
      >
        How it works
      </h2>
    </div>
    <div>
      <p class="text-base text-base-600 mt-4 text-balance">
        We design technology that transforms operations into proactive,
        intelligent systems — tools that don’t just assist, but become integral
        members of your team.
        <br /><br />
        Every solution is built to be practical, accountable, and resilient. From
        real-time data orchestration to predictive intelligence, our AI ensures that
        every action drives measurable business outcomes.
      </p>
    </div>
  </div>
</section>
