---
import { Image } from "astro:assets";
import Avatar from "@/images/customers/avatar.jpeg";
---
<section>
  <div class="px-8 py-12 max-w-xl mx-auto text-center">
    <blockquote class="text-base font-medium text-base-900 italic">
      “DreamSkrin transformed how we operate. Within weeks, Luminera.ai automated
      critical workflows, reduced fraud risks, and gave us real-time insights we
      never had before. It felt less like hiring a vendor and more like gaining a
      strategic AI partner.”
    </blockquote>
    <figure class="mt-6 flex flex-col items-center gap-3">
      <!-- <Image
        src={Avatar}
        width={120}
        height={120}
        loading="eager"
        decoding="async"
        alt="Photo of Ananya Mehra"
        class="size-12 rounded-full grayscale border"
      /> -->
      <figcaption>
        <h3 class="text-base-900 text-sm font-medium mt-2">Ananya Mehra</h3>
        <p class="text-xs text-base-600">Chief Innovation Officer at FinEdge</p>
      </figcaption>
    </figure>
  </div>
</section>
